/* FONT CELL / FONT DIGIT / MENU */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Stalinist+One&display=swap');

:root{
    --count-case-width: 9;
    --width-size: 100vh;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

body, button, input{
    font: 400 16px/1.3 'Stalinist One', cursive;
}

body, button, input, .white{
    color: white;
}

button, input{
    outline: none;
}

button{
    cursor: pointer;
    border: none;

    border-radius: .1em;

    transition: .7s;
    background-color: white;
    color: #0075ff;
}

button:hover{
    background-color: #0075ff;
    color: #fff;
}

body, .open .content{
    background-color: #272727;
}

#gamePanel, #board, #menu{
    width: var(--width-size);
}

body, #gamePanel, .cell, .content, #screen, #menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Menu */
#menu{
    height: var(--width-size);
    background-color: #626262;
    justify-content: space-evenly;
    text-transform: uppercase;

    background-image: url('../../vue/assets/img/board.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 200%;
}

#menu .title{
    width: calc(var(--width-size) * 0.90);
    font-size: calc(calc(var(--width-size) * 0.75) / 50);
    padding: 6.5em;
    background-color: rgba(103, 103, 103, 0.67);

    border-top: 1em solid #fffa;
    border-left: 1em solid #fffa;
    border-bottom: 1em solid #000a;
    border-right: 1em solid #000a;

    text-shadow: .3em .6em .1em #000;
}

#menu h1{
    font-size: calc(calc(var(--width-size) * 0.75) / 15);
}

#menu .round{
    background-color: #b3b3b3;

    position: absolute;
    width: fit-content;
    border-radius: 50%;
    padding: .5em;

    border-top: .3em solid white;
    border-left: .3em solid white;
    border-bottom: .3em solid black;
    border-right: .3em solid black;
}

#menu .title span.green{
    color: #42b983;
}

#menu .round.rt{ top: .7em; }

#menu .round.rb{ bottom: .7em; }

#menu .round.rl{ left: .7em; }

#menu .round.rr{ right: .7em; }

#menu .links{
    position: absolute;
    right: 6em;
    bottom: 2em;
}

#menu .links img{
    width: 2em;
}

#menu .options, #menu .options .option-list .option-group input, #menu .options button{
    font-size: calc(calc(var(--width-size) * 0.75) / 40);
}

#menu .options{
    width: calc(var(--width-size) * 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(9, 9, 9, 0.67);
    padding: 2em 0;
}

#menu .options h3{
    font-size: calc(calc(var(--width-size) * 0.75) / 30);
    text-align: center;
}

#menu .options .option-list{
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

#menu .options .option-list .option-group{
    padding: .5em;
    width: 50%;
}

#menu .options .option-list label, #menu .options .option-list  input{
    display: block;
}

#menu .options .option-list .option-group input{
    width: 100%;
}

#menu .options button{
    width: 70%;
    padding: .5em;
}

/* Game Panel */
#gamePanel, .cell, #menu .title{
    position: relative;
}

/* Game */
#board{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.cell{
    cursor: pointer;
    width: calc(var(--width-size) / var(--count-case-width));
    height: calc(var(--width-size) / var(--count-case-width));
    border: 1px solid #272727;
    font-family: 'Permanent Marker', cursive;
    background-color: #737373;
}

.cell.close:hover{
    background-color: #8a8a8a;
}

.content{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.index-1{
    color: #5959d7;
}

.index-2{
    color: #62ac46;
}

.index-3{
    color: #b9bc50;
}

.index-4{
    color: #d29a48;
}

.index-5{
    color: #c85757;
}

.index-6{
    color: #d24f2b;
}

.index-7{
    color: #e31313;
}

.index-8{
    color: #ff0000;
}

.content::selection{
    background-color: transparent;
}

#screen{
    background-color: #ffffffaa;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#screen p{
    color: black;
}

#screen .screen_buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 1em;
}

#screen .screen_button{
    padding: .5em 1.5em;
    margin-top: .5em;
    font-size: .5em;
}

.content, #screen{
    font-size: calc(calc(var(--width-size) / var(--count-case-width)) / 2);
}


@media (orientation: portrait){
    :root{
        --width-size: 100vw;
    }
}
